<h2>編集</h2>
<form action="/memos/<%= @id %>" method="POST" name="frm_patch">
  <input type="text" name="title" cols="80" rows="2" value="<%= @memo["title"] %>">
  <textarea name="content" cols="80" rows="8"><%= @memo["content"] %></textarea>
  <input type="hidden" name="_method" value="PATCH">
  <input type="submit" value="変更">
</form>