<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1>メモアプリ</h1>
    <h2>新規作成</h2>
    <form action="../memos" method="POST">
      <div>
        <textarea name="title" cols="80" rows="2"></textarea>
      </div>
      </br>
      <div>
        <textarea name="content" cols="80" rows="8"></textarea>
      </div>
      </br>
      <div>
        <input type="submit" value="保存">
      </div>
    </form>
  </body>
</html>