<h2>新規作成</h2>
<form action="../memos" method="POST">
  <div>
    <label>
      タイトル
      <input type="text" name="title">
    </label>
  </div>
  <div>
    <label>
      内容
      <textarea name="content"></textarea>
    </label>
  </div>
  <input type="submit" value="保存">
</form>