<div>
  <ul>
    <% @memos.each do |key, memo| %>
    <li>
      <a href="memos/<%= key %>"><%= h memo["title"] %></a>
    </li>
    <% end %>
  </ul>
</div>
<div>
  <input type="button" onclick="location.href='memos/new'" value="追加">
</div>